<!doctype html>

<html ng-app="groceries">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	<title>Grocery List</title>
	
	<link rel="stylesheet" 	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 	crossorigin="anonymous">
	
	<style>
		html {
			overflow-y: scroll;
		}
		body {
			padding-top: 50px;
		}
		#grocery-list {
			margin-bottom: 30px;
		}
		.jumbotron {
			background-color: rgba(10,128,10,0.5) !important;
			color: white;
		}
		h1 {
			background: rbga(255, 255, 0, 0.2) !important;
			border-radius: 25px;
			padding: 25px;
		}
		body {
			
			background-image: url("pineapples.jpeg");
			
		}
		#pineapple {
			background: green;
		}
	</style>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	
	<script src="core.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body ng-controller="mainController">
  
  <div class="container">
	<div id="pineapple">
	</div>
	<div class="jumbotron text-center">
		<h1>Grocery List <span class="label label-info">{{items.length}}</span></h1>
	</div>
	<div id="grocery-list" class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<ul class="list-group" >
				<li class="list-group-item" ng-repeat="item in items">
					<h4><span class="glyphicon glyphicon-remove pull-right" ng-click="deleteItem(item)"></span>
					{{item}}</h4>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="item-form" class="row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<form>
				<div class="form-group">
					<input type="text" class="form-control input-lg text-center" placeholder="apples, bread, milk, etc..." ng-model="formData.text">
				</div>
				<button type="submit" class="btn btn-info" ng-click="createItem()">
					Add
				</button>
			</form>
		</div>
	</div>
  </div>
  
</body>
</html>
	
	
